/*.interPancas h1{
color:white;
text-shadow:1px 1px 2px rgb(231, 51, 51);
font-size:92px;
}

.interPancas{
    text-align:center;
}

.interPancas a{
    text-decoration:none;
    color:white;
    text-shadow:1px 1px 2px black;
    font-size:26px;
    border:1px solid black;
    border-radius:50px;
    padding:15px 20px;
}

.interPancas a:hover{
    color:black;
    background-color:#ddd;
}

.pancas{
    width:100%;
    height:100vh;
    display:flex;
   align-items:center;
   justify-content:center;
    background-color:rgba(127, 255, 212,.3);
}

.vPancas{
    position:absolute;
    right:0;
    bottom:0;
    z-index:-1;
}

@media (min-aspect-ratio:16/9) {
    .vPancas{
        width:100%;
        height:auto;
    }
    
}

@media (max-aspect-ratio:16/9) {
    .vPancas{
        width:auto;
        height:100%;
    }
}*/
/*---------------------------------------*/
/*.intPancas{
    text-align:center;
}

.intPancas h1{
   color:#fff;
   text-shadow:1px 1px 1px black;
   font-size:96px;
   margin-bottom:50px;

}

.intPancas a{
    font-size:28px;
    text-decoration:none;
    color:#fff;
    text-shadow:1px 1px 1px black;
    border:1px solid black;
    border-radius:50px;
    padding:20px;
}

.intPancas a:hover{
    background-color:#ddd;
    color:black;

}

.pancas{
    background-color:rgba(0, 0, 0, 0.4);
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.vPancas{
    position:absolute;
    right:0;
    bottom:0;
    z-index:-1;
}

@media (min-aspect-ratio:16/9) {
    .vPancas{
        width:100%;
        height:auto;
    }


}


@media (max-aspect-ratio:16/9) {
    .vPancas{
        width:auto;
        height:100%
    }
}*/

.interPanca{
    text-align:center;
   
}

.interPanca h1{
    font-size:93px;
    color:white;
    text-shadow:1px 1px 2px black;

}

.interPanca a{
    text-decoration:none;
    color:white;
    font-size:32px;
    border-radius:50px;
    border:1px solid brown;
    padding:10px;
    transition:.5s;
}

.pancas{
    width:100;
    height:100vh;
    background-color:rgba(0, 0, 0,0.4);
    display:flex;
    align-items:center;
    justify-content:center;
}

.vPancas{
    position:absolute;
    right:0;
    bottom:0;
    z-index:-1;
}

@media (min-aspect-ratio:16/9) {
    .vPancas{
        width:100%;
        height:auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .vPancas{
        width:auto;
        height:100%;
    }
}

.interPanca a:hover{
    background-color:aqua;
    color:black;
}